<div class="root">
  <mat-card fxLayout="column" fxFill>
    <mat-card-header fxFlex="10" fxFill>
      <div fxFlex="10" fxLayoutAlign="row">
        <button mat-icon-button><mat-icon>arrow_back_ios</mat-icon></button>
        <h1 class="back-text">Back</h1>
      </div>
      <h1 fxFlex="80" fxLayoutAlign="center">
        Write your post!
      </h1>
      <div fxFlex="10"></div>
    </mat-card-header>
    <mat-card-header fxLayoutAlign="center" fxFlex="10">
      <input
        mat-card-title
        type="text"
        placeholder="Write your post title here..."
      />
    </mat-card-header>
    <mat-card-content fxLayoutAlign="center" fxFlex="20">
      <textarea
        matInput
        rows="4"
        cols="50"
        placeholder="Write your description here..."
        maxlength="200"
      ></textarea>
    </mat-card-content>
    <mat-card-content fxLayoutAlign="center" fxFlex="60">
      <button mat-button fxFlex="33">upload</button>
      <div fxFlex="33" class="post-image"></div>
      <button mat-button fxFlex="33">Post</button>
    </mat-card-content>
  </mat-card>
</div>
