.card {
  max-height: max-content;
  max-width: max-content;
}
.content-image {
  max-width: 80%;
  /* width: inherit; */
}
mat-card {
  background: lightblue;
}
.post-card {
  width: inherit;
  height: inherit;
}
