<!-- The work version; -->
<div class="root">
  <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let post of allPost; index as i">
      <app-post-card
        [index]="i"
        [imageUrl]="imageUrl"
        [post]="post"
        class="post-card"
      ></app-post-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<!-- The not work one; -->
<!-- <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
  <ng-container *ngFor="let post of allPost; index as i">
    <app-post-card
      fxFlex="0 1 33%"
      fxFlex.lt-md="0 1 50%"
      fxFlex.lt-sm="100%"
      [index]="i"
      [imageUrl]="imageUrl"
      [post]="post"
      class="post-card"
    ></app-post-card>
  </ng-container>
</div> -->
