.login-form {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
}

.form-button {
  margin-left: 1%;
  margin-right: 1%;
}

.root {
  margin-top: 4px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 50px;
}
